.formSuccess {
  display: none;
  justify-content: center;
  font-size: 2rem;
  color: $color-light;
}

.form {
  background-color: $color-background;
  display: flex;
  width: 90%;
  margin: 1rem auto;
  flex-direction: column;

  @media (min-width: $tablet-size) {
    width: 50%;
  }

  & input,
  select,
  textarea {
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-top: 5px;

    &:hover {
      box-shadow: 1px 1px 2px $color-primary;
    }
  }

  & span {
    color: $color-warning;
  }

  & div {
    display: grid;
    margin: 10px 0;
    width: 90%;
    align-self: center;
  }

  &__submit {
    width: 100px;
    align-self: self-end;
    margin: 1rem;
    background-color: $color-primary;
    cursor: pointer;

    &:hover {
      background-color: $color-card-bg;
    }
  }
}
