.loginForm {
  background-color: $color-background;
  width: 90%;
  margin: auto;

  @media (min-width: 768px) {
    width: 50%;
  }

  & fieldset {
    display: flex;
    flex-direction: column;
    border: none;
  }

  & input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-top: 5px;

    &:hover {
      box-shadow: 1px 1px 2px $color-primary;
    }
  }

  & span {
    color: red;
  }

  & div {
    display: grid;
    margin: 10px 0;
    width: 90%;
    align-self: center;
  }

  &__submit {
    width: 100px;
    align-self: self-end;
    margin: 1rem;
    background-color: #a0a83e;
    cursor: pointer;

    &:hover {
      background-color: $color-card-bg;
    }
  }
}
