* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.logo {
  font-family: "old english text mt";
  margin: 0;
}

header {
  background-color: aliceblue;
  text-align: center;
  color: white;

  a {
    color: white;

    &:hover {
      color: $color-background;
    }
  }

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logoutBtn {
  background: $color-card-bg;
  border: 1px solid $color-card-bg;
  border-radius: 6px;
  color: #000000;
  cursor: pointer;
  padding: 8px;

  &:hover {
    background-color: initial;
    color: red;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: 551px) {
    font-size: 16px;
    padding: 14px;
  }
}
