//colors
$color-primary: #a7811c;
$color-card-bg: #bccb62;
$color-background: #d4d2d2;
$color-warning: #f91717;
$color-light: #f8f6f6;
$color-dark: #070505;

//media queries
$small-size: 551px;
$tablet-size: 768px;
$desktop-size: 991px;
